<app-tab-row-menu></app-tab-row-menu>
  <div class="container-fluid mt-4">
    <div class="row m-0">
        <div class=" profile__nav w-100 " style="height: 81vh;">
            <mat-tab-group mat-stretch-tabs class="outsideShadow example-stretched-tabs mat-elevation-z4">
                <mat-tab label="Current medication"><app-current-medication></app-current-medication></mat-tab>
                <mat-tab label="Medication history"><app-medication-history></app-medication-history></mat-tab>
                <mat-tab label="Medication by problems">Medication by problems</mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
