<div class="container-fluid" style="margin-top: 2vh;">
    <div class="tab-high">
        <mat-tab-group>
            <mat-tab label="Neuro">
                <app-neuro></app-neuro>
            </mat-tab>
            <mat-tab label="Cardio" style="margin-bottom: 5em;">
                <app-cardio></app-cardio>
            </mat-tab>
            <mat-tab label="Pulm">
                <app-pulm></app-pulm>
            </mat-tab>
        </mat-tab-group>
        <div class="button-change">
            <div class="button">
                <button mat-raised-button>Normal</button>
                <button mat-raised-button>Abnormal</button>
            </div>
            <div class="button">
                <button mat-raised-button>Normal</button>
                <button mat-raised-button>Abnormal</button>
            </div>
            <div class="button">
                <button mat-raised-button>Normal</button>
                <button mat-raised-button>Abnormal</button>
            </div>
        </div>
    </div>
</div>