<app-tab-row-menu></app-tab-row-menu>
<div class="container-fluid">
    <mat-tab-group class="exam insideShadow">
        <mat-tab label="High blood pressure">
            <app-high></app-high>
        </mat-tab>
        <mat-tab label="Cough">
            <app-cough></app-cough>
        </mat-tab>
        <mat-tab label="Pneumonia">
            <app-pneumonia></app-pneumonia>
        </mat-tab>
        <mat-tab label="Stomachache">
            <app-stomachache></app-stomachache>
        </mat-tab>
      </mat-tab-group>
</div>
