<div class="container-fluid">

  <div class="row">
    <div class="col-8">
      <app-recent-clients></app-recent-clients>
    </div>
    <div class="col-4">
      <app-user></app-user>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-8">
      <app-open-clients></app-open-clients>
    </div>
    <div class="col-4" style="position: relative; bottom: 4.5rem;">
      <div class="insideShadow w-100" style="height: 15em;">
        <app-note></app-note>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="margin-top: -50px;">
      <div
        class="insideShadow w-100"
        style="height: 17rem; overflow: hidden; background-color: #f6f6f6;"
      >
        <app-today></app-today>
      </div>
      <img style="width: 100%;" src="assets/svg/contact.svg" alt="" />
    </div>
  </div>
</div>
