.container{
    padding: 0;
  }
  // .lab {
  //   height: 75vh;
  // }
  .packages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    background-color: white;
    border-radius: 15px;
    margin: 15px 0;
    padding: 20px 0 20px;
    .packages-tab {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .default-tab {
        cursor: pointer;
        margin: 0;
        padding: 0;
        color: #707070;
        position: relative;
      }
      .active-tab {
        margin: 0;
        padding: 0;
        cursor: pointer;
        // color: #000000;
        border-bottom: 1px solid #000;
        position: relative;
      }
      .slider {
        position: absolute;
        display: block;
        left: 0;
        top: 90%;
        margin: 0 auto;
        height: 2px;
        background-color: #000;
        width: 0%;
        transition: width 0.6s ease;
      }
      .slider-active {
        position: absolute;
        display: block;
        left: 0;
        top: 90%;
        margin: 0 auto;
        height: 2px;
        background-color: #000;
        width: 100%;
        transition: width 0.6s ease;
      }
    }
  }
  .selection {
    width: 100%;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    select {
      /* styling */
      background-color: transparent;
      border: none;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
  
      /* reset */
  
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
  
      &:focus {
        background-image: linear-gradient(45deg, gray 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, gray 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        outline: 0;
      }
  
      select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
    }
  }
  .notification {
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    p {
      font-size: 12px;
      color: white;
      text-align: center;
    }
  }
  .group-button {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    img {
      width: 30px;
      height: 30px;
    }
  }
  input{
    border: none;
    background: none;
    text-align: center;
  }
::ng-deep .tableOrder{
        border-style: none;
        width: 100%;
        border-collapse: separate;
        font-family: "Segoe UI", sans-serif;
        font-weight: 600;
        border-radius: 15px;
        box-shadow: none;
        th.mat-header-cell {
          background-color: #9fb9c8;
          color: white;
          text-align: center !important;
        }
        th.mat-header-cell:first-of-type,
        td.mat-cell:first-of-type,
        td.mat-footer-cell:first-of-type {
          padding-left: unset !important;
          label {
            background-color: #fff;
            border: 1px solid #707070;
            border-radius: 50%;
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin-bottom: -3px !important;
          }
          input[type="checkbox"] {
            visibility: hidden;
          }
      
          input[type="checkbox"]:checked + label {
            background-color: #707070;
            border-color: #707070;
          }
      
          input[type="checkbox"]:checked + label:after {
            opacity: 1;
          }
        }
        td.mat-cell:last-of-type,
        td.mat-footer-cell:last-of-type {
          padding: 0px;
          border: 4px solid #ffffff;
          border-radius: 20px;
          width: 75px;
        }
        th.mat-header-cell:first-of-type {
          padding-left: 10px;
          border: 4px solid #ffffff;
          border-radius: 20px;
        }
        th.mat-header-cell:last-of-type {
          padding-right: 10px;
        }
        td:first-child {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          content td:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
        }

        td:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        td.mat-cell:first-of-type,
        td.mat-footer-cell:first-of-type {
          padding-left: 10px;
          border: 4px solid #ffffff;
          border-radius: 20px;
        }
      
        tr {
          border-bottom: none;
        }
        tr.mat-row,
        tr.mat-footer-row {
          height: 35px;
          
        }
        th.mat-header-cell,
        td.mat-cell,
        td.mat-footer-cell {
          border-bottom: none;
        }
        th {
          border-right: 1px solid;
        }
        th:nth-child(1) {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          border-right: 1px solid;
          border-left: none;
        }
        tr:nth-child(odd) {
          background: #F6F6F6;
        }
        th:last-child {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border-right: none;
        }
        .mat-elevation-z8 {
          border-radius: 10px;
        }
        .content td {
          padding: 0rem 0 !important;
        }
        tr.mat-header-row {
          height: 35px !important;
          display: none;
        }
        th.mat-header-cell {
          border-bottom-style: none;
        }
      }
      ::ng-deep.mat-table {
        background: #ffffff;
      }
      