<div class="container" style="padding-top: 0.5rem;">
    <div style="height: 25px; padding-left: 1rem; color: #808080;">
        <h3>Note</h3>
    </div>
    <div class="col" style=" height: 8rem ;overflow: auto;">
        <div class="row note">
            <div class="col-9 title">
                <h4>Review</h4>
            </div>
            <div class="col-3 date">
                <small>26.08.1999</small>
            </div>
            <div class="col content">
                <p>content note content note content note content notecontent note content note content note</p>
            </div>
        </div>
    </div>
    <div class="text-center create-note">
        <p>45 notes</p>
        <img src="../../../../../assets/svg/Group 1911.svg" alt="">
    </div>
</div>