<app-tab-row-menu></app-tab-row-menu>
<div class="container-fluid mt-4">
    <div class="insideShadow w-100">
        <div class="row profile__nav m-0 plan">
            <mat-tab-group mat-stretch-tabs  class="insideShadow col p-0">
                <mat-tab label="High blood pressure">
                   <app-plan-high-blood-pressure></app-plan-high-blood-pressure>
                </mat-tab>
                <mat-tab label="Cough">                  
                </mat-tab>
                <mat-tab label="Pneumonia">        
                </mat-tab>
                <mat-tab label="Stomachache">
                </mat-tab>  
            </mat-tab-group>
        </div>
    </div>
</div>