<div class="row justify-content-center">
   <h3>Create Immunization</h3>
</div>
<div >
    <mat-form-field>
        <label for="">Vaccine</label>
        <input matInput >
      </mat-form-field>
      <br>
      <mat-form-field>
        <label for="">Date</label>
        <input matInput type="date">
      </mat-form-field>
      <br>
      <mat-form-field>
        <label for="">Type</label>
        <input matInput >
      </mat-form-field>
      <br>
      <mat-form-field>
        <label for="">Description</label>
        <textarea matInput rows="2"></textarea>
      </mat-form-field>
</div>
<div class="row justify-content-center create-button">
    <button class="btn" (click)= "createImmu()">
        Create
    </button>
 </div>

  
